/****[ screen ]************************************************************************/
.screen {
    width: 100%;
    height: 100%;
    fill: #000000;
}

.header {
    x: 50%-140;
    y: 0;
    width: 280;
    height: 30%;
}

.center {
    x: 50%-140;
    y: 30%;
    width: 280;
    height: 40%;
}

.footer {
    x: 50%-145;
    y: 70%;
    width: 280;
    height: 30%;
}

/****[ progress counter ]**************************************************************/
.progress-counter {
    font-family: System-Regular;
    font-size: 12;
    text-length: 10;
    width: 40;
    height: 10;
    fill: fb-green;
}

.progress-counter-start {
    x: 2;
    y: 12;
    text-anchor: start;
}

.progress-counter-end {
    x: 100%-2;
    y: 12;
    text-anchor: end;
}

/****[ progress bar ]******************************************************************/
.progress-bar {
    width: 20;
    height: 100%;
}

.progress-bar-start {
    x: 0;
    y: 15;
}

.progress-bar-end {
    x: 100%-20;
    y: 15;
}

.progress-bar-item {
    y: $+2;
    height: 10;
    fill: 'fb-extra-dark-gray';
}

/****[ rings ]*************************************************************************/
.ring-section {
    x: $+10;
    y: 0;
    width: 60;
    height: 70;
}

.ring-text {
    font-family: System-Regular;
    font-size: 12;
    text-anchor: middle;
    text-length: 10;
    x: 50%;
    y: 0;
    width: 100%;
    height: 10;
    fill: fb-green;
}

.ring-item {
    y: 10;
    width: 60;
    height: 60;
    arc-width: 20;
    sweep-angle:25;
    fill: 'fb-extra-dark-gray';
}


/****[ test ]**************************************************************************/
.test {
    width: 100%;
    height: 100%;
    fill: #005500;
}

.clock-text {
    font-family: Colfax-Light;
    font-size: 90;
    text-anchor: middle;
    text-length: 10;
    x: 50%;
    y: 50%+30;
    width: 100%;
    height: 100%;
    fill: #FA1E43;
}

.date-text {
    font-family: Seville;
    font-size: 26;
    text-anchor: middle;
    text-length: 32;
    x: 50%;
    y: 50%-70;
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
}

.stats {
    x: 50%-111;
    y: 50%+66;
    width: 222;
    height: 48;
}

.stats text {
    font-family: SevilleSharp;
    font-size: 30;
    text-length: 16;
    fill: #FFFFFF;
}

#iconHRM {
    width: 24;
    height: 24;
    y: 15;
    x: 1;
    fill: #FF214A;
}

.stat-left {
    x: 31;
}

.stat-right {
    x: 100%;
    width: 100%;
    text-anchor: end
}

#stats-cycle {
    x: 40%;
    y: 0;
    width: 60%;
    height: 100%;
}

.cycle-item image {
    x: 50%;
    y: 15;
    fill: #FFFFFF;
    width: 24;
    height: 24;
}
