/****[ screen ]***************************************************************/
.header {
    x: 50%-68;
    y: 0;
    width: 140;
    height: 30%;
}

.center {
    x: 50%-77;
    y: 30%;
    width: 160;
    height: 40%;
}

.footer {
    x: 50%-145;
    y: 70%;
    width: 280;
    height: 30%;
}

/****[ progress counter ]*****************************************************/
.progress-counter {
    font-family: System-Regular;
    font-size: 12;
    text-length: 8;
    width: 40;
    height: 10;
    fill: fb-green;
}

.progress-counter.progress-counter-start {
    x: 2;
    y: 12;
    text-anchor: start;
}

.progress-counter.progress-counter-end {
    x: 100%-2;
    y: 12;
    text-anchor: end;
}

/****[ progress ]*************************************************************/
.progress-start {
    x: 0;
    y: 15;
    fill: 'fb-extra-dark-gray';
}

.progress-stop {
    x: 100%-20;
    y: 15;
    fill: 'fb-extra-dark-gray';
}

/****[ rings ]****************************************************************/
.ring-sensor {
    x: $+10;
    y: 0;
    width: 60;
    height: 70;
}

.ring-sensor text {
    x: 50%;
    y: 5;
    font-family: System-Regular;
    font-size: 12;
    text-anchor: middle;
    text-length: 8;
    width: 100%;
    height: 10;
    fill: fb-green;
}

.ring-sensor arc {
    y: 10;
    width: 60;
    height: 60;
    arc-width: 20;
    sweep-angle:25;
    fill: 'fb-extra-dark-gray';
}

/****[ time ]*****************************************************************/
.time-block {
    x: $;
    y: 0;
    width: 36;
    height: 100%;
}

.time-block .time-dot {
    width: 5;
    height: 5;
    fill: 'fb-extra-dark-gray';
}

.time-block .time-x-line {
    width: 20;
    height: 5;
    fill: 'fb-extra-dark-gray';
}

.time-block .time-y-line {
    width: 5;
    height: 20;
    fill: 'fb-extra-dark-gray';
}

.time-block .time-placeholder {
    width: 20;
    height: 20;
}

.time-separator {
    x: $;
    y: 0;
    width: 9;
    height: 100%;
}

.time-separator .time-dot {
    width: 5;
    height: 5;
    fill: 'fb-extra-dark-gray';
}

/****[ date ]*****************************************************************/
.date-block {
    x: $;
    y: 0;
    width: 30;
    height: 100%;
}

.date-block .date-dot {
    width: 4;
    height: 4;
    fill: 'fb-extra-dark-gray';
}

.date-block .date-x-line {
    width: 16;
    height: 4;
    fill: 'fb-extra-dark-gray';
}

.date-block .date-y-line {
    width: 4;
    height: 16;
    fill: 'fb-extra-dark-gray';
}

.date-block .date-placeholder {
    width: 16;
    height: 16;
}

.date-separator {
    x: $;
    y: 0;
    width: 8;
    height: 100%;
}

.date-separator .date-dash {
    width: 4;
    height: 4;
    fill: 'fb-extra-dark-gray';
}

/****[ test ]*****************************************************************/
.test {
    width: 100%;
    height: 100%;
    fill: #FA1E43;
}

.clock-text {
    font-family: Colfax-Light;
    font-size: 90;
    text-anchor: middle;
    text-length: 8;
    x: 50%;
    y: 50%+30;
    width: 100%;
    height: 100%;
    fill: #FA1E43;
}

.date-text {
    font-family: Seville;
    font-size: 26;
    text-anchor: middle;
    text-length: 32;
    x: 50%;
    y: 50%-70;
    width: 100%;
    height: 100%;
    fill: #FFFFFF;
}

.stats {
    x: 50%-111;
    y: 50%+66;
    width: 222;
    height: 48;
}

.stats text {
    font-family: SevilleSharp;
    font-size: 30;
    text-length: 16;
    fill: #FFFFFF;
}

#iconHRM {
    width: 24;
    height: 24;
    y: 15;
    x: 1;
    fill: #FF214A;
}

.stat-left {
    x: 31;
}

.stat-right {
    x: 100%;
    width: 100%;
    text-anchor: end
}

#stats-cycle {
    x: 40%;
    y: 0;
    width: 60%;
    height: 100%;
}

.cycle-item image {
    x: 50%;
    y: 15;
    fill: #FFFFFF;
    width: 24;
    height: 24;
}
