/* progress */
#progress {
    width: 20;
    height: 100%;
}

#progress rect {
    y: $+2;
    height: 10;
    fill: 'inherit';
}

/* sensor */
#sensor {
    width: 60;
    height: 60;
}

#sensor arc {
    width: 60;
    height: 60;
    arc-width: 20;
    sweep-angle: 25;
    fill: 'inherit';
}

/* clock-1-number */
#clock-1-number {
    width: 32;
    height: 60;
}

#clock-1-number .digit-dot {
    width: 5;
    height: 5;
    fill: 'inherit';
}

#clock-1-number .digit-x-line {
    width: 20;
    height: 5;
    fill: 'inherit';
}

#clock-1-number .digit-y-line {
    width: 5;
    height: 20;
    fill: 'inherit';
}

/* clock-1-colon */
#clock-1-colon {
    width: 11;
    height: 60;
}

#clock-1-colon .digit-dot {
    width: 5;
    height: 5;
    fill: 'inherit';
}

/* clock-2-number */
#clock-2-number {
    width: 20;
    height: 37;
}

#clock-2-number .digit-dot {
    width: 3;
    height: 3;
    fill: 'inherit';
}

#clock-2-number .digit-x-line {
    width: 12;
    height: 3;
    fill: 'inherit';
}

#clock-2-number .digit-y-line {
    width: 3;
    height: 12;
    fill: 'inherit';
}

/* clock-2-dash */
#clock-2-dash {
    width: 16;
    height: 100%;
}

#clock-2-dash .digit-x-line {
    width: 12;
    height: 3;
    fill: 'inherit';
}

/* clock-3-number */
#clock-3-number {
    width: 14;
    height: 26;
}

#clock-3-number .digit-dot {
    width: 2;
    height: 2;
    fill: 'inherit';
}

#clock-3-number .digit-x-line {
    width: 8;
    height: 2;
    fill: 'inherit';
}

#clock-3-number .digit-y-line {
    width: 2;
    height: 8;
    fill: 'inherit';
}
